.sticky-note {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
    background: yellow;
    border: none;
    z-index: 10000;
    overflow: scroll;
}
.sticky-note.yellow {background: yellow;}
.sticky-note.red {background: red;}
.sticky-note.pink {background: pink;}
.sticky-note.green {background: green;}
.sticky-note.blue {background: blue;}

.sticky-add {
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 10000;
}
